/* Colors and fonts */


h1, h2 {
	line-height: 5%;
	font-family: 'Alike', serif;
}

h1{
	font-size: 40px;
}

h2{
	font-size: 17px;
}

h3{
	font-family: 'Comic Neue', cursive;
	font-size: 36px;
}

#top-paragraph p{
	font-family: 'Antic Didone', serif;
	font-size: 24px;
}

#middle-paragraph p{
	font-family: 'Antic Didone', serif;
	font-size: 24px;
}


/* Custom design with id and class */

#container {
	width: 750px;
	height: 500px;
	margin: 60px 350px;
}


/* Bannière 1 */

.container {
	align-content: center;
	width: 800px;
	margin: 0px 0px;
	background-size: cover;
	background-position: center;
}

.text-center {
	width: 1360px; 
    height: 150px;
	text-align: center;
	background-image: url("images/fond1.PNG");
	padding: 30px;
	box-shadow:0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 5px;
	margin: 0px;
	border: 1px solid lightgrey;
	background-size: cover;
	background-position: center;
	align-content: center;
}


/* Banner's links */


.btn-blue {
	color: black; 
	padding: 3px 20px;
	border-radius: 5px;
	font-family: 'Comic Neue', cursive;
	font-size: 24px;
}

.btn-blue:hover {
	color: rgb(208, 233, 236);
}

#column1{
	float: left;
	width: 160px;
}

#column2{
	float: left;
	width: 160px;
}

#column3{
	float: right;
	width: 200px;
}

#column4{
	float: right;
	width: 80px;
}

#column5{
	float: right;
	width: 160px;
}



/* Top page */

#top-paragraph{
	width: 1250px;
	height: 800px;
	margin-top: 0px;
	padding: 0px;
	display: inline-block;
}

#top-paragraph h3{
	margin: 0px;
	text-align: center;
}

#top-paragraph p{
	text-align: center;
}

#image1 {
    width: 480px;
	height: 520px;
	margin: 0px;
	margin-top: 100px;
	margin-left: 100px;
	margin-right: 130px;
	display: inline-block;
	float: left;
}


/* Top text */

#right{
	width: 1250px;
	height: 800px;
	margin-top: 100px;
}


/* Middle page */

#middle-paragraph{
	width: 1250px;
	height: 800px;
	margin-top: 0px;
	padding: 0px;
	display: inline-block;
}

#middle-paragraph p{
	text-align: center;
}

#image2{
	width: 220px;
	height: 400px;
	margin: 0px;
	margin-top: 15px;
	margin-left: 40px;
	margin-right: 0px;
	display: inline-block;
	float: right;
}


/* Middle text */

#left{
	width: 1000px;
	height: 600px;
	margin-top: 50px;
	margin-left: 80px;
}


/* Bottom page */ 



#image3{
	width: 350px;
	height: 400px;
	margin: 0px;
	margin-top: 150px;
	margin-left: 200px;
	margin-right: 100px;
	float: left;
	display: inline-block;
}


/* Buttons */

.btn-red{
	background-color: rgb(230, 168, 171);
	margin-top: 300px;
	margin-left: 0px;
	color: black; 
	padding: 10px 80px;
	border-radius: 3px;
	font-family: 'Comic Neue', cursive;
	font-size: 24px;
	float: right;
	display: inline-block;
}

.btn-red:hover {
	color: rgb(208, 233, 236);
}


















